/*
corresonds to the Media section of the origin style.css file
needs to be @imported into the style.css file and processed by gulp
*/
/* 
    Created on : 15-Aug-2016, 10:22:59 AM
    Author     : michael
*/

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}