$small: screen and (min-width: 600px);
$medium: screen and (min-width: 37.5em);
$large: screen and (min-width: 1200px);

$container-default-width: 80%;
$container-max-width: 1000px;

$offwhite: #FAEBD7;
$marginblue: #006395;
$darkblue: #005395;
$lightblue: #4A90E2;
