/*
corresonds to the content section of the origin style.css file
needs to be @imported into the style.css file and processed by gulp
*/
/*
    Created on : 15-Aug-2016, 10:11:47 AM
    Author     : michael
*/

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

.site {
	margin: auto;
	max-width: $container-default-width;
	@media $large {
		max-width: $container-max-width;
	}
}

.site-content {
	max-width: $container-default-width;
	margin: inherit;
}

.content-inner {

}


/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}
