.about-mission {
    font-family: $gotham;
    /*max-width: 85%;*/
    p {
        font-size: 2.5rem;
    }
}
.about-gallery-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.about-services {
    background-color: $backgroundGrey;
}
.about-services-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @media $medium {
        flex-direction: row;
        justify-content: space-between;
    }

}
.about-main-image {
    img {
        margin: auto;
    }
}
.bio-bi-line {
    display: flex;
    h3 {
        padding-left: 1.5em;
    }
}
.bio-image-container {
    img {
        max-width: 12em;
        width: auto;
        border-radius: 50%;
    }
}
ul.about-services-left, ul.about-services-right {
  font-size: 1.7rem;
  li {
      color: $lightBlue;
  }
  span {
      color: $baseTextColour;
  }
}
.small-list {
    font-size: 85%;
}
.large-list {
    font-size: 150%;
}
