.clients-nav {
    list-style: none;
    li {
        display: inline-block;
    }
}


#dr-bronner {
    color: black;
    height: 350px;
    background-color: blue;
}

#vote-hemp {
    height: 350px;
    background-color: yellow;
}

#fair-world {
    height: 350px;
    background-color: red;
}
