.site-footer {
    background-color: $darkBlue;
    border-top: 3px solid $white;
    padding: 4% 0 3.3%;
}
.footer-inner {
    max-width: $container-max-width;
    width: $container-default-width;
    margin: auto;
    font-family: $gotham;
}
.footer-logo-section {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 6.5em;
}
.tag-line {
    p {
        color: $white;
        font-size: 2.8rem;
        line-height: 3rem;
        margin: 0 0 0 1rem;
    }
    p:nth-last-child(1) {
        font-family: $gotham;
        font-weight: 800;
    }
}
.footer-menu-container {
     display: -webkit-flex;
     display: flex;
     -webkit-justify-content: space-around;
     justify-content: space-around;
     /* Set flex-wrap and flex-direction all in one line with flex flow */
     -webkit-flex-flow: row wrap;
     flex-flow: row wrap;
     -webkit-align-content: space-around;
     align-content: space-around;
     width:50%;
     margin: 0 auto;

    @media $medium {
      width:100%;
    }
    @media $large {
      width:100%;
    }
    @media $ex-large {
      width:100%;
    }
}
.footer-menu {
    color: $white;
    font-size: 1.4rem;
    letter-spacing: 1px;
    font-weight: 300;
    @media $medium {
      font-size: 1.4rem;
    }
    @media $large {
      font-size: 1.8rem;
    }
    @media $ex-large {
      font-size: 1.8rem;
    }
    /*line-height: 2.3rem;*/
    a {
        color: $white;
    }
    li {
        margin: 0 0 2.2rem 0;
        @media $medium {
margin: 0 0 1rem 0;
        }
        @media $large {
margin: 0 0 1rem 0;
        }
        @media $ex-large {
margin: 0 0 1rem 0;
        }
    }
}
.footer-search-container {

}
