.giving-partner-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.giving-partner-item {

    width: 100%;
    padding: 0 0 2%;

    @media $medium {
      width: 29%;
    }
    @media $large {
      width: 31%;
    }
    @media $ex-large {
      width: 31%
    }
}
.giving-name {
    color: $darkBlue;
    margin: 0.8em 0 0.6em;
    line-height: 1.3;
    text-transform: uppercase;
}
.giving-year {
    color: $lightBlue;
}
.giving-partner-description p {
    font-size: 1.3rem;
    line-height: 1.5;

}
