.giving-partner-flex {
    display: flex;
    flex-wrap: wrap;

}
.giving-partner-item {
    flex: 0 1 33%;
    padding: 0 0 2%;
}
.giving-name {
    color: $darkBlue;
    margin: 0.8em 0 0.6em;
    line-height: 1.3;
    text-transform: uppercase;
}
.giving-year {
    color: $lightBlue;
}
.giving-partner-description p {
    font-size: 1.3rem;
    line-height: 1.5;
    max-width: 307px;
}
