/*
Header CSS - need to @include in style.css and run gulp process
    Created on : 15-Aug-2016, 9:43:27 AM
    Author     : michael
*/

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.site {
	margin: auto;
	max-width: $outer-max-width;
	background-color: $white;
	/*@media $large {
		max-width: $container-max-width;
	}*/
}
.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em .5em;
    max-width: $container-max-width;
    margin: auto;
    border-bottom: $darkBlue solid 1px;
    padding-bottom: 2.1rem;
    font-family: $gotham;
    font-size: 14px;
    color: $darkBlue;
    letter-spacing: 0.48px;
    a {
        color: $darkBlue;
    }
    @media $medium {
        justify-content: space-between;
        align-items: center;
    }
}
.logo-tag-container {
    @media $medium {
        margin: 0;
    }
}
.site-branding {
    display: none;

    @media $medium {
        display: block;
    }
}

.site-title {

}

.site-logo {
    margin-right: 10px;
}
