/*
Header CSS - need to @include in style.css and run gulp process
    Created on : 15-Aug-2016, 9:43:27 AM
    Author     : michael
*/

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
        padding: 2% 0% 1%;
	   margin: auto;
    padding-bottom: 0.1rem;
    font-family: $gotham;
    font-size: 14px;
    color: $darkBlue;
    letter-spacing: 0.48px;
    width: 85%;
    a {
        color: $darkBlue;
    }
    @media $medium {
           padding: 1.3% 0% 1%;
           width: 85%;
           max-width: 1000px;
    }
    @media $large {
            padding: 1.7% 0% 1%;
            width: 85%;
            max-width: 1080px;
    }
    @media $ex-large {
            padding: 2% 2% 0.3%;
            width: 97%;
    }








}
.site-header {
	max-width: $container-max-width;
    margin: auto;
    border-bottom: $darkBlue solid 0px;

}
.logo-tag-container {
    @media $medium {
        margin: 0;
    }
}
.site-branding {
    display: none;

    @media $medium {
        display: block;
    }
}
.site-logo {
    margin-right: 10px;
}
img.custom-logo {
  width: 60%;
  margin-top: 0.3em;
  @media $medium {
      width: 60%;
  }
  @media $large {
        width: 75%;
  }
  @media $ex-large {
      width: 75%;
  }
}
