.home {
    /*background: $marginBlue;*/
}
.home-header {
    background: $darkBlue;
    color: $white;
    max-width: $outer-max-width;
    a {
        color: inherit;
        text-decoration: none;
    }
}
.home-nav, .home-masthead-1 {
    max-width: $container-max-width;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.home-nav {
    font-family: Gotham SSm A;
    font-size: 14px;
    color: $offWhite;
    letter-spacing: 0.48px;
    li {
        /*need relative spacing between li. margin %??*/
    }
}
.home-masthead-1 {
    display: flex;
    justify-content: space-between;
    p {
        text-align: center;
        color: $white;
    }
    p.large-text {
        font-family: Gotham SSm A;
        font-size: 64px;
        letter-spacing: 2.55px;
        line-height: 57px;
        margin: 0;
    }
    p.text {
        font-family: Sentinel SSm A;
        font-weight: 600;
        font-size: 24px;
        line-height: 30px;
    }
}
.front-icon-container {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon {
    height: 110px;
    width: auto;
}
.action-btn {
    display: inline-block;
    margin: auto;
    background: $green;
    /*I tried 8px border radius, but 5 looks more like the design*/
    border-radius: 5px;
    font-family: Arial;
    /*color: $white;*/
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: solid $borderGrey 1px;
    text-decoration: none;
}
.action-btn:hover {
  text-decoration: none;
}
.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	height: auto;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.front-more-link {
    text-align: right;
}
.featured-stories {
    display: flex;
    justify-content: space-between;
}
.featured-story {
    display: flex;
    flex-direction: column;
    width: 25%;
}
.story-inner-container {

}
.thumb-container img {
    width: 100%;
    /*may not need this.*/
}
.story-text {
    padding: 1rem; 
}
.story-grey {
    background-color: $backgroundGrey;
}
.story-blue {
    background-color: $lightBlue;
}





.movement-highlights {
    display: flex;
}
.highlight-vid-container {
    /*width: 200px;*/
}
