.partner-title-image {
    width: 25%;
}
.partners-mission {
    /*max-width: */
}


.partner-content-group {

}

.clients-nav {
    list-style: none;
    li {
        display: inline-block;
    }
}

#top {
    /*background-color: grey;*/
}

#dr-bronner {
}

#vote-hemp {

}

#fair-world {

}
