.footer-search-form {
    margin-bottom: 0 auto 1.1rem;
    display: block;
    @media $medium {
        margin: 0 0 1.5rem;
    }
    @media $large {
        margin-bottom: 0 0 1.5rem;
    }
    @media $ex-large {
        margin-bottom: 0 0 1.5rem;
    }
}

.footer-search-field {
    font-size: 1.6rem;
    margin: 0 auto 0.2em;
    max-width: 65%;
    @media $medium {
        margin: 0 0.3em 0.4em 0;
        width: 73%;
    }
    @media $large {
        margin: 0 1rem 0.4em 0;
        width: 70%;
    }
    @media $ex-large {
        margin: 0 1rem 0em 0;
        width: 73%;
    }
}

.mc4wp-form-fields {}

.mc4wp-form-fields input[type="email"] {
    padding: 10px 4% 10px 24px;
    margin-right: 0.5em;
    margin-bottom: 1em;
    @media $medium {
        margin-bottom: 1.6em;
    }
    @media $large {
        margin-bottom: 0.3em;
    }
    @media $ex-large {
        margin-bottom: 0.6em;
    }
}
