.video-title {
font-family: GothamBlack;
font-size: 18px;
color: #005395;
letter-spacing: 0.62px;
line-height: 24px;
text-transform: uppercase;
  @media $medium {
  }
  @media $large {
  }
  @media $ex-large {
  }
}


.video-wrap {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  clear: both;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: space-between;
    @media $medium {

    }
    @media $large {

    }
      @media $ex-large {

      }
}
.movementmedia_videos {
    width: 100%;
    @media $medium {
      width: 48%;
    }
    @media $large {
          width: 48%;
    }
      @media $ex-large {
          width: 48%;
      }
    p {
      font-family: $gotham;
      font-size: 1.45rem;
    }
}
.video-indiv {
  width: 100%;
  height: auto;
}
.video-indiv .post_tags a {
  display: inline-block;
	margin: 6px 8px 6px 0;
	background: $green;
	font-family: $gotham;
	border-radius: 8px;
	font-size: 1.2rem;
	padding: 7px 20px 7px 20px;
	text-decoration: none;
	color: $white;
  text-transform: uppercase;
}
.video-credits p {
  font-weight: 700;
  font-size: 1.1em;
  font-style: italic;
}
