.site-footer-inside {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
    text-align: center;
    background-color: $offwhite;
}

.footer-address-container {
    > ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

.footer-image-container {
    margin: 1em auto;
}
