/*
Header CSS - need to @include in style.css and run gulp process
    Created on : 15-Aug-2016, 9:43:27 AM
    Author     : michael
*/

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.site-header, .home-header {
    /*background-color: #FAEBD7;*/
    display: flex;
    flex-direction: column;
    padding: 1em .5em;


    /*@media $medium {
        justify-content: space-between;
    }*/
}/*.site-header*/
.logo-tag-container {
    margin: auto;

    @media $medium {
        display: flex;
        margin: 0;
    }
}
.site-branding {
    display: none;

    @media $medium {
        display: block;
    }
}

.site-title {

}

.site-logo {
    margin-right: 10px;
}
