/*
Header CSS - need to @include in style.css and run gulp process
*/
/*
    Created on : 15-Aug-2016, 9:43:27 AM
    Author     : michael
*/

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.site-header {
    background-color: #FAEBD7;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*flex-flow: row wrap*/
    justify-content: space-between;
}

/* Note to test postcss process*/

.site-branding {
    text-align: center;
    align-self: center;
}

.site-logo {
    align-self: flex-start;
}



/*.site-logo a {
    position: absolute;
    z-index: 10;
    top: 1em;
    left: 1em;
    display: block;
    width: 2em;
    height: 2em;
    background: black;
    border: 2px solid white;
    color: white;
    text-decoration: none;
}*/
