/*
Header CSS - need to @include in style.css and run gulp process
*/
/*
    Created on : 15-Aug-2016, 9:43:27 AM
    Author     : michael
*/

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.site-header {
    background-color: #FAEBD7;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*flex-flow: row wrap*/
    justify-content: space-between;
    padding: 1em .5em;
}

.logo-tag-container {
    display: flex;
    @media $small {
        align-self: center;
    }
}


.site-branding {
    /*text-align: center;*/
    /*display: inline-block;*/
    @media $small {
        display: none;
    }

}

.site-logo {
    margin-right: 10px;


}

.site-title {

}
