/*
corresonds to the content section of the origin style.css file
needs to be @imported into the style.css file and processed by gulp
*/
/*
    Created on : 15-Aug-2016, 10:11:47 AM
    Author     : michael
*/

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
.site {
	margin: auto;
	/* removed so backgrounds can go full length -- max-width: $outer-max-width;*/
}
.site-content, .home-header-content {



	margin: inherit;
}
.content-area {
	margin: 0 auto;
	@media $medium {
		max-width: $container-default-width;
	}
	@media $large {
	}
}
.full-width-content {

}
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.entry-title-container {
	max-width: $container-default-width;
	margin: auto;

	@media $medium {
		max-width: $container-max-width;
	}
}
.entry-title {
	text-transform: uppercase;
	color: $darkBlue;
	font-size: 5vw;
	font-weight: 800;
	letter-spacing: .3rem;
	text-align: center;
	width: 100%;

	@media $medium {
		width: 85%;
		background-color: $darkBlue;
		color: $white;
		font-size: 4rem;
	}
	@media $large {
		width: 85%;
		background-color: $darkBlue;
		color: $white;
		font-size: 4rem;
	}
}

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}
