/*
corresonds to the content section of the origin style.css file
needs to be @imported into the style.css file and processed by gulp
*/
/*
    Created on : 15-Aug-2016, 10:11:47 AM
    Author     : michael
*/

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
.site {
	margin: auto;
	max-width: $outer-max-width;
	background-color: $white;
}
.site-content {
	max-width: $container-max-width;
	margin: inherit;
}
.content-area {
	margin: auto;
	max-width: $container-default-width;
}
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.entry-title {
	text-transform: capitalize;
	color: $darkBlue;
	font-size: 5vw;
	text-align: center;
	display: inline-block;
	padding: 0 3.8rem;


	@media $medium {
		background-color: $darkBlue;
		color: $white;
		font-size: 2.5rem;
	}
}

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}
