	/*
corresonds to the elements section of the origin style.css file
needs to be @imported into the style.css file and processed by gulp.
*/
/*
    Created on : 15-Aug-2016, 9:50:11 AM
    Author     : michael
*/

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;

}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {

}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}
section {

}

hr {
	width: 65%;
	background-color: $borderGrey;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em 0em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}


.stories-content li {
font-size: 1.8em;
font-weight: 300;
line-height: 1.5;
}

li {
	color: #343434;
	font-weight: 300;
	font-size: 1.6rem;
	margin: 0.4em 0;


		@media $medium {
			font-size: 1.6rem;
			margin: 0.4em 0;
		}
		@media $large {
			font-size: 1.8rem;
					margin: 0.6em 0;

		}
		@media $ex-large {
			font-size: 1.8rem;
			margin: 0.6em 0;

		}
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 0 0 .5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
	display: block;
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

@keyframes ns-fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
