/*
corresonds to the forms section of the origin style.css file
needs to be @imported into the style.css file and processed by gulp
*/
/*
    Created on : 15-Aug-2016, 10:01:18 AM
    Author     : michael
*/

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.action-btn {
	border: none;
	display: inline-block;
	margin: auto;
	background: $green;
	font-family: $gotham;
	border-radius: 8px;
	font-size: 1.2rem;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	color: $white;
	a {
		color: $white;
	}
}
.action-btn-large {
	font-size: 1.1rem;
	@media $medium {
		font-size: 1.8rem;
	}
	@media $large {
		font-size: 1.8rem;
	}
	@media $ex-large {
		font-size: 1.8rem;
	}
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
	font-size: 1.1rem;
	@media $medium {
		font-size: 1.6rem;
	}
	@media $large {
		font-size: 1.6rem;
	}
	@media $ex-large {
		font-size: 1.6rem;
	}
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.action-btn:hover {
	/*border-color: #ccc #bbb #aaa;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);*/
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	border-color: #aaa #bbb #bbb;
	box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	border: 1px solid #343434;
	/*border-radius: 3px;*/
	padding: 10px 8px;
	@media $medium {
		padding: 10px 8px;

	}
	@media $large {
	padding: 10px 18px;
	}
	@media $ex-large {
	padding: 12px 18px;
	}
}

select {
	border: 1px solid #ccc;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

textarea {
	width: 100%;
}



/*--------------------------------------------------------------
# Main Contact Form
--------------------------------------------------------------*/

.contact-group {
	clear: both;
	font-size: 1.8rem;
}



.gform_wrapper input:not([type='radio']):not([type='checkbox']):not([type='submit']):not([type='button']):not([type='image']):not([type='file']) {
    padding: 16px 4px!important;

}
.gform_wrapper .field_sublabel_above .ginput_complex.ginput_container label, .gform_wrapper .field_sublabel_below .ginput_complex.ginput_container label, .gform_wrapper .field_sublabel_above div.ginput_container[class*="gfield_time_"] label, .gform_wrapper .field_sublabel_below div.ginput_container[class*="gfield_time_"] label, .gform_wrapper .field_sublabel_above div.ginput_container[class*="gfield_date_"] label, .gform_wrapper .field_sublabel_below div.ginput_container[class*="gfield_date_"] label {
    font-size: 1.4rem!important;
    letter-spacing: 1.1!important;
}

.gform_wrapper label.gfield_label {
    font-size: 1.6rem!important;
		padding: 10px 0px 0!important;
}
.gform_wrapper input:not([type='radio']):not([type='checkbox']):not([type='submit']):not([type='button']):not([type='image']):not([type='file']) {
    padding: 12px 4px 12px 12px!important;
		font-size: 1.6rem!important;
}
.gform_wrapper textarea.medium {
    height: 280px!important;
}
body .gform_wrapper ul li.gfield {
    margin-top: 24px!important;
}
