/*
corresonds to the typography section of the origin style.css file
needs to be @imported into the style.css file and processed by gulp.
*/
/*
    Created on : 15-Aug-2016, 9:50:11 AM
    Author     : michael
*/

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
html {
	/* setting base font size to 10px, based on most browswers' default size of 16px */
	font-size: 62.5%;
}

body,
button,
input,
select,
textarea {
	color: $baseTextColour;
	font-family: $sentinel;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-family: $gotham;
}

h1 {
	font-style: italic;
	font-size: 5.4rem;
}
h2 {}
h3 {
	font-weight: 700;
	font-size: 3rem;
}
h4 {
	font-size: 2.8rem;
	letter-spacing: .97px;
	line-height: 3rem;
}
h5 {
	color: $lightBlue;
	font-size: 2.4rem;
	letter-spacing: 0.1rem;
}
h6 {
	font-size: 1.6rem;
}

p {
	margin-bottom: 1.5em;
	font-size: 1.4rem;
	color: $baseTextColour;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}
